{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always"
}
